---
---

/////////////
// ======= //
// IMPORTS //
// ======= //
/////////////

@import "reset";
@import "variables";
// @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Syntax highlighting @import is at the bottom of this file

////////////////
// BASE RULES //
////////////////

* {
  margin: 0;
}

html, body {
  font-size: $body-size;
  height: 100%;
}

body {
  background: $gray;
  font: 1rem $body-font;
  color: $white;


}
.page-wrap {
  min-height: 100%;
  // equal to footer height
  margin-bottom: $footer-height;
}
.page-wrap:after {
  content: "";
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 900;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: $h1-size;
  a {
    color: $brand-primary;
    text-transform: uppercase;
    line-height: .3rem;
  }
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
  color: $brand-primary;
}

p {
  margin: 15px 0;
  font-size: $body-size;
  font-family: $body-font;
}

a {
  color: $brand-primary;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $brand-primary;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
  font-size: $body-size;
}
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: magenta;
}
::selection {
  color: $white;
  background: magenta;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

///////////////////////
// ================= //
// LAYOUT / SECTIONS //
// ================= //
///////////////////////


////////////
// .masthead
////////////

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $white;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $header-font;
  font-weight: 300;
  font-size: $site-name-size;
  font-transform: uppercase;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: $site-description-size;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: both;
  margin-top: 2rem;
  font-family: $header-font;
  font-size: $nav-size;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: ($nav-size / .8);
  }

  a {
    margin-left: 20px;
    color: $brand-primary;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $brand-primary;
    }
  }
}

///////////
// .main //
///////////

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $white;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $darkGray;
    padding: 0.1em 1em;
    color: $darkGray;
    font-size: $body-size;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    color: $darkGray;
    text-transform: uppercase;
    font-size: $body-size;
  }
}

.site-footer, .page-wrap:after {
  // .push must be same height as footer
  height: $footer-height;
}

.site-footer {
  background-color: $black;
}

.highlight {
  background-color: $darkGray;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

