<section id="one">
  <div class="container wow fadeInUp">
    <div class="card-group">
      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/fly-ink-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Consise</h4>
          <p class="card-text">Cards are a good way to display content composed of different types of objects. They’re well-suited for presenting similar objects whose size or supported actions vary, like headings and photos with captions.</p>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/coulson-drive-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grouped</h4>
          <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/gaps-now-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grouped</h4>
          <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/londyn-nichole-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grouped</h4>
          <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
        </div>
      </div>

      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/lucky-birds-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grouped</h4>
          <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/connect-church-logo-card.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Same Height</h4>
          <p class="card-text">A frequent problem occurs when you have multiple items in a row with content of varying height. Thanks to flexbox (and display:table) we now have equal height cards!</p>
          
        </div>
      </div>
    </div>
  </div>
</section>

