/////////////
// NAVIGATION
/////////////

$neon: #BBFF00;
$dark: rgb(51,51,51);

.navbar-default {
  border-color: rgba(35,35,35,.05);
  background-color: rgba(51, 51, 51, 0.91);
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.navbar-brand {
  color: #007FFF;
  padding: 1px;
  line-height: 1.90em;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
  float:none;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #007FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #001A33;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: $gray;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  font-size: 12px;
  color: #001A33;
  text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #007FFF;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
  color: #007FFF !important;
  background-color: #FFF;
}

/* responsive nav */
@media(max-width:48em) {
  .navbar-default .navbar-nav>.nav-item {
    float: none;
    margin-left: .1rem;
  }
  .navbar-default .navbar-nav {
    float:none !important;
  }
}

@media(min-width:48em) {
  .navbar-default {
    border-color: white;
    background-color: #fff;
    min-height: 60px;
  }

  .navbar-brand {
    color: #007FFF;
    float: left;
    padding: 9px;
    padding-left: 1px;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #001A33;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: #001A33;
    padding-left: 5px;
    padding-top: 21px;
    letter-spacing: 1.1px;
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #001A33;
  }

  #topNav {
    text-transform: uppercase;
    background-color: $dark;
  }

  #hamburger {
    color: #BBFF00;
    cursor: pointer;
    transition: all .3s;
    background-color: rgba(0,0,0,.6);
  }
}

a.navbar-brand.page-scroll {
  color: #BBFF00;
}

span {
  color: white;
}

// a.navbar-brand.page-scroll {
// }

.hamburger {
  color: #BBFF00;
}

span {
  color: white;
}

li.nav-item {
  color: white;
}

a.nav-link.page-scroll {
}

a.nav-link.page-scroll {
  color: white;
}

a.nav-link.page-scroll {
}

a.nav-link.page-scroll {
  color: white !important;
  line-height: 1.2rem;
}

a.navbar-brand.page-scroll {
  /* background: black; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* padding: 1.4rem; */
}



ul.nav.navbar-nav {
  padding-top: 4rem;
}
.header-content {
  color: white;
}
a.btn.btn-primary-outline.btn-primary-header {
  color: white;
  background: rgba(0,0,0,1);
  text-transform: uppercase;
  border-radius: 0px;
  border-color: rgb(255, 255, 255);
  border-width: .05rem;
  font-size: large;
}
