///////////////
// ========= //
// VARIABLES //
// ========= //
///////////////

/////////
// Colors
/////////
$neon            : #BBFF00;
$brand-primary   : $neon;
$brand-secondary : $neon;
$brand-tertiary  : $neon;

////////////////////
// Primary Colors //
////////////////////
$black      : #000;
$darkerGray : #222;
$darkGray   : #333;
$gray       : #9C9298;
$lightGray  : #EEE;
$white      : #FFF;



////////////////////////////////
// Styling Color Abstractions //
////////////////////////////////
$bg-color     : $gray;
$body-color   : $white;
$header-color : $neon;



/////////////////
// Font stacks //
/////////////////
@import url(https://fonts.googleapis.com/css?family=Lato:900|Roboto);$helvetica: Helvetica, Arial, sans-serif;
$Lato        : "Lato", Helvetica, sans-serif;
$Roboto      : "Roboto", Arial, sans-serif;
$body-font   : $Roboto;
$header-font : $Lato;

////////////////
// Text Sizes //
////////////////
$h1-size : 2.7rem;
$h2-size : 2.4rem;
$h3-size : 2.1rem;
$h4-size : 1.8rem;
$h5-size : 2rem;
$h6-size : 2rem;
$h7-size : 2rem;
$body-size : .8rem;
$code-size : 2rem;
$li-size : $body-size;
$ul-size : $body-size;
$site-name-size : 3rem;
$site-description-size : 1.6rem;
$nav-size : .7rem;

///////////////////
// Element Sizes //
///////////////////
$footer-height : 12rem;
////////////////////////
// Mobile breakpoints //
////////////////////////
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
