<!DOCTYPE html>
<html>

  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

    {% include meta.html %}

    {% include includes.html %}

  </head>

  <body class="bg-faded">

    <div class="page-wrap">

      {% include nav.html %}

      {% include header.html %}

      {% include intro.html %}

      {% include footer.html %}

    </div>

    {% include analytics.html %}

    {% include scripts.html %}

  </body>

</html>
