<!DOCTYPE html>
<html>
  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <div class="page-wrap">

      {% include header.html %}

      <div id="main" role="main" class="container">

        {{ content }}

      </div>

    </div>

    {% include footer.html %}

    {% include analytics.html %}

    <script src="{{ site.baseurl }}/_sass/bower_components/particles.min.js/"></script>

  </body>

</html>

